
.slider.slider-main(data-slick='{"slidesToShow": 1, "slidesToScroll": 1,"dots": true, "fade": false}')
    div
        .slider-main__block(style="background-image: url('img/slider1.jpg');")
            .slider-main__content
                .slider-main__text Прямолинейный и криволинейный
                .slider-main__title Фацепт
                a.slider-main-link.btn.btn-color2(href='#') Заказать
    div
        .slider-main__block(style="background-image: url('img/slider1.jpg');")
            .slider-main__content
                .slider-main__text Прямолинейный и криволинейный
                .slider-main__title Фацепт
                a.slider-main-link.btn.btn-color2(href='#') Заказать
.slider.slider-item(data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "dots": true, "fade": false}')
    div
        a.slider-item__item(href='#')
            img.slider-item__img(src='img/slider-item_1.jpg', alt='')
            .slider-item__date 11.12.2015
            .slider-item__title Правильно чистим зубы
    div
        a.slider-item__item(href='#')
            img.slider-item__img(src='img/slider-item_2.jpg', alt='')
            .slider-item__date 11.12.2015
            .slider-item__title Правильно чистим зубы
    div
        a.slider-item__item(href='#')
            img.slider-item__img(src='img/slider-item_3.jpg', alt='')
            .slider-item__date 11.12.2015
            .slider-item__title Правильно чистим зубы
    div
        a.slider-item__item(href='#')
            img.slider-item__img(src='img/slider-item_4.jpg', alt='')
            .slider-item__date 11.12.2015
            .slider-item__title Правильно чистим зубы
    div
        a.slider-item__item(href='#')
            img.slider-item__img(src='img/slider-item_4.jpg', alt='')
            .slider-item__date 11.12.2015
            .slider-item__title Правильно чистим зубы


